/* Custom properties and resets */
/* #region */

:root {
  --blue-800: hsl(219, 43%, 16%);
  --gray-500: hsl(218, 20%, 36%);
  --cream: hsl(30, 33%, 93%);
  --white: hsl(30, 29%, 97%);

  --accent-lavender: hsl(264, 100%, 69%);
  --accent-magenta: hsl(292, 76%, 54%);
  --accent-orange: hsl(31, 100%, 65%);
  --accent-gradient: linear-gradient(to left top, var(--accent-orange), var(--accent-magenta), var(--accent-lavender)); 
}

/* Remove default margins and padding */
* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default cite styling */
cite {
  font-style: unset;
}

/* Remove default button styling */
button {
  all: unset;
  cursor: pointer;
}

img {
  display: block;
}

/* For accessibility labels */
.hidden {
  position: absolute;
  left: -9999px;
  top: -9999px;
  font-size: 1px;
}

/* #endregion */


/* Typography */
/* #region */

body {
  color: var(--gray-500);
  font-family: 'Epilogue', sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
}

.h-xl {
  font-size: 38px;
  line-height: 44px;
  letter-spacing: -0.53px;

  font-weight: 400;
}
.h-xl > .--bold {
  font-weight: 700;
}

.h-l {
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.5px;

  font-weight: 400;
}
.h-l > .--bold {
  font-weight: 700;
}

.h-m {
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  font-weight: 700;
}

.h-s {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  font-weight: 400;
}

.quote {
  font-size: 20px;
  line-height: 35px;
}

.footer {
  font-size: 15px;
  line-height: 32px;
}

/* #endregion */


/* General styling */
/* #region */

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__cta {
  border-radius: 6px;
  border: 1px solid var(--blue-800);

  color: var(--blue-800);
  font-weight: 700;
}
.header__cta:hover,
.header__cta:focus {
  background-color: var(--blue-800);

  color: var(--white);
}


/* Intro */
.intro__header {
  position: relative;

  color: var(--blue-800);
}
.super-solution {
  position: relative;

  display: inline-block;
}
.super-solution::before {
  content: '';

  position: absolute;

  background-image: url('assets/pattern-curved-line-1.svg');
  background-size: cover;
  background-repeat: no-repeat;
}
.intro__cta {
  background-color: var(--blue-800);
  border-radius: 6px;

  color: var(--white);
  font-weight: 700;
}
.intro__cta:hover,
.intro__cta:focus {
  background: var(--accent-gradient);

  color: var(--white);
}

/* Main image */
.main-content__image {
  border-radius: 15px;
}


/* Stats */
.stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.stat__value {
  color: var(--blue-800);
  font-weight: 700;
}


/* Testimonial */
.testimonial {
  position: relative;

  display: flex;
  align-items: center;

  color: var(--white);
}
/* Actual colored background for testimonial */
.testimonial::before {
  content: '';

  position: absolute;
  top: 0;
  z-index: -1;

  height: 100%;

  background-color: var(--blue-800);
  border-radius: 15px;
}
.testimonial__img-wrapper {
  position: relative;
  
  display: flex;
  justify-content: center;
}
.testimonial__img {
  position: absolute;
}
.testimonial__blur {
  align-self: center;
}


/* Footer */
.footer-bg {
  left: -16px;
  bottom: 0;

  position: absolute;
  width: calc(100% + 32px);
  z-index: -2;

  background-color: var(--cream);
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__socials {
  display: flex;
  justify-content: space-between;
  gap: 28px;
}
.footer__socials > img:hover,
.footer__socials > img:focus {
  cursor: pointer;
  opacity: 0.5;
}

/* #endregion */


/* Mobile styling */
/* #region */

body {
  margin-top: 24px;
  margin-inline: 16px; 

  position: relative;
}


/* Header */
.header {
  margin-bottom: 56px;
}
.header__cta {
  padding-inline: 16px;
  padding-block: 12px;

  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.14px;
}


/* Intro */
.intro {
  margin-bottom: 56px;
}
.super-solution::before {
  width: 151.47px;
  height: 16.89px;

  bottom: calc(100% + 8px);
}
.intro__header {
  margin-bottom: 32px;
}
.intro__text {
  margin-bottom: 32px;
}
.intro__cta {
  padding-inline: 32px;
  padding-block: 14px;

  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.18px;
}


/* Image */
.main-content__image {
  margin-bottom: 56px;

  width: 343px;
  height: 240px;

  background-image: url('assets/image-hero-landscape.webp');
  background-size: cover;
  background-repeat: no-repeat;
}


/* Stats */
.stats {
  left: -16px;
  margin-bottom: 236px;
  
  flex-direction: column;
  gap: 32px;

  text-align: center;
}


/* Testimonial */
.testimonial {
  margin-bottom: 56px;

  flex-direction: column;
  align-items: center;

  text-align: center;
}
/* Background takes up whole page width */
.testimonial::before {
  width: calc(100% + 32px);
}
/* Testimonial images */
.testimonial__img-wrapper {
  margin-bottom: 40px;

  width: 100%;

  height: 220px;
}
.testimonial__img {
  top: -180px;
  left: 0;
  right: 0;
  margin-inline: auto;
   
  width: 252px;
  height: 402px;

  display: block;
  
  background-image: url('assets/image-jeremy-small.webp');
  background-size: cover;
  background-repeat: no-repeat;
}
.testimonial__blur {
  width: 197px;
  height: 197px;
}
/* Testimonial text */
.testimonial__curve {
  margin-bottom: 36px;

  width: 49.27px;
  height: 40px;
}
.testimonial__header {
  margin-bottom: 40px;

  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.42px;
}
.testimonial__text {
  margin-bottom: 40px;
}
.testimonial__attribution {
  margin-bottom: 64px;
}


/* Footer */
.footer-bg {
  bottom: -80px;
  
  height: 420px;
}
.footer {
  margin-bottom: 80px;

  flex-direction: column;
  gap: 32px;
}

/* #endregion */
